.board {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 80vh;
    width: 80vh;
    margin-left: auto;
    margin-right: auto;
}

.row {
    height: 32%;
    width: 100%;
    
    background-color: black;
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
}

.cell {
    background-color: white;
    height: 100%;
    width: 32%;
    color: black;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}